body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("images/bacround.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

h1 {
  font-family: "Eagle Lake", cursive;
  font-size: 2.5vw;
  margin-bottom: 5vw;
}

h2 {
  font-family: "Eagle Lake", cursive;
  font-size: 2rem;
  margin-bottom: 1vw;
}

#grid_conatiner {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#dragonPart {
  width: 85%;
  height: 0;
  position: sticky;
  top: 0;
}

#scroll {
  background-image: url(images/scroll.png);
  background-size: cover;
  width: 33vw;
  height: 45vw;
  z-index: 2;
  position: fixed;
  margin-left: -5vw;
  margin-top: -5vw;
}
#scroll2 {
  background-image: url(images/scroll2.png);
  background-size: cover;
  width: 33vw;
  height: 45vw;
  z-index: 20;
  position: fixed;
  margin-left: -5vw;
  margin-top: -57.1vw;
  pointer-events: none;
}

#scrollPart {
  overflow: hidden;

  height: 100vw;
  margin-top: 5vw;
}

#scrollable {
  position: relative;
  z-index: 10;
  width: 36vw;
  height: 50vw;
  padding-left: 2vw;
}

.theColors {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  column-gap: 5px;
  row-gap: 5px;
  margin-bottom: 5vw;
}

.dragon-color {
  width: 3vw;
  height: 3vw;
  border-radius: 6vw;
  cursor: pointer;
}

#color1 {
  background-image: url("images/4f7662.png");
}

#color2 {
  background-image: url("images/393a3b.png");
}

#color3 {
  background-image: url("images/77548f.png");
}

#color4 {
  background-image: url("images/656985.png");
}

#color5 {
  background-image: url("images/875848.png");
}

#color6 {
  background-image: url("images/902929.png");
}

#color7 {
  background-image: url("images/a76a99.png");
}

#color8 {
  background-image: url("images/ea8361.png");
}

#colorWheel {
  cursor: pointer;
}

.horns {
  background-image: url("images/horns.png");
  background-size: cover;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  border-radius: 6vw;
}

.theCrystals {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 5px;
  row-gap: 5px;
  margin-bottom: 2vw;
}

.crystal-option {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  border-radius: 6vw;
}

.neckCrystals {
  background-image: url("images/neckCrystals.png");
  background-size: cover;
}

.legCrystals {
  background-image: url("images/legCrystals.png");
  background-size: cover;
}

.wingCrystals {
  background-image: url("images/wingCrystals.png");
  background-size: cover;
}

.tailCrystals {
  background-image: url("images/tailCrystals.png");
  background-size: cover;
}

.saddle {
  background-image: url("images/saddle.png");
  background-size: cover;
  width: 7vw;
  height: 7vw;
  cursor: pointer;
  border-radius: 14vw;
}

.hornsX {
  z-index: 200;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  border-radius: 6vw;
}

.neckCrystalsX,
.legCrystalsX,
.wingCrystalsX,
.tailCrystalsX {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  border-radius: 6vw;
}

.saddleX {
  width: 7vw;
  height: 7vw;
  cursor: pointer;
  border-radius: 14vw;
}
