@font-face {
  font-family: dragonFont;
  src: url(MagicSchoolOne.ttf);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("images/bacround.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

h1 {
  font-family: "dragonFont";
  font-size: 5.5vw;
  font-weight: 300;
  margin-bottom: 7vw;
  margin-left: 0vw;
  margin-top: 1.8vw;
}

h2 {
  font-family: "Eagle Lake", cursive;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

h3 {
  font-family: "Eagle Lake", cursive;
  font-size: 1vw;
  margin-bottom: 0.5vw;
  margin-top: -3vw;
}

#grid_conatiner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 5vw;
}

#dragonPart {
  width: 55vw;
  margin-top: -8vw;
}

#scroll_container {
  height: 35.4vw;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scroll_container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scroll_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#scroll {
  background-image: url(images/scroll.png);
  background-size: cover;
  width: 33vw;
  height: 45vw;
  z-index: 2;
  position: fixed;
  margin-left: -5vw;
  margin-top: -5vw;
}

#scrollPart {
  overflow: hidden;
  height: 115vw;
}

#scrollable {
  position: relative;
  z-index: 10;
  width: 36vw;
  height: 50vw;
  padding-left: 1vw;
}

.theColors {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  column-gap: 5px;
  row-gap: 5px;
  margin-bottom: 5vw;
  margin-top: 1.5vw;
}

.dragon-color {
  width: 5vw;
  height: 5vw;
  border-radius: 6vw;
  cursor: pointer;
}

.dragon-color:hover {
  filter: drop-shadow(0px 0px 0.3vw rgb(89, 0, 255));
}

#color1 {
  background-image: url("images/4f7662.png");
}

#color2 {
  background-image: url("images/393a3b.png");
}

#color3 {
  background-image: url("images/77548f.png");
}

#color4 {
  background-image: url("images/656985.png");
}

#color5 {
  background-image: url("images/875848.png");
}

#color6 {
  background-image: url("images/902929.png");
}

#color7 {
  background-image: url("images/a76a99.png");
}

#color8 {
  background-image: url("images/ea8361.png");
}

#colorWheel {
  width: 7vw;
  height: 7vw;
  cursor: pointer;
  border-radius: 6vw;
  padding: 0.5vw;
  background-color: black;
  margin-bottom: 8vw;
  margin-left: 6.5vw;
  margin-top: 2vw;
}

#colorWheel::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
  padding: 0;
}

#colorWheel:hover {
  filter: drop-shadow(0px 0px 0.3vw rgb(89, 0, 255));
}

.horns {
  background-image: url("images/horns.png");
  background-size: cover;
  width: 7vw;
  height: 7vw;
  cursor: pointer;
  border-radius: 6vw;
  margin-bottom: 8vw;
  margin-left: 6vw;
}

.horns:hover {
  filter: drop-shadow(0px 0px 0.3vw rgb(89, 0, 255));
}

.theCrystals {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2vw;
  row-gap: 2vw;
  margin-bottom: 2vw;
  margin-bottom: 8vw;
}

.crystal-option {
  width: 7vw;
  height: 7vw;
  cursor: pointer;
  border-radius: 6vw;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 1.5vw;
}

.crystal-option:hover {
  filter: drop-shadow(0px 0px 0.3vw rgb(89, 0, 255));
}

.neckCrystals {
  background-image: url("images/neckCrystals.png");
  background-size: cover;
}

.legCrystals {
  background-image: url("images/legCrystals.png");
  background-size: cover;
}

.wingCrystals {
  background-image: url("images/wingCrystals.png");
  background-size: cover;
}

.tailCrystals {
  background-image: url("images/tailCrystals.png");
  background-size: cover;
}

.saddle {
  background-image: url("images/saddle.png");
  background-size: cover;
  width: 7vw;
  height: 8vw;
  cursor: pointer;
  margin-bottom: 4vw;
  margin-left: 6vw;
}

.saddle:hover {
  filter: drop-shadow(0px 0px 0.3vw rgb(89, 0, 255));
}

.hornsX {
  z-index: 3;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  border-radius: 6vw;
}

.neckCrystalsX,
.legCrystalsX,
.wingCrystalsX,
.tailCrystalsX {
  z-index: 3;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  border-radius: 6vw;
}

.saddleX {
  z-index: 3;
  width: 7vw;
  height: 7vw;
  cursor: pointer;
  border-radius: 14vw;
}

#cirkle {
  background-image: url(images/circle.png);
  background-size: cover;
  width: 9vw;
  height: 9vw;
  margin-top: -20vw;
  margin-left: 87vw;

  animation: glow_kf 20s infinite linear;
}

#cirkle2 {
  position: relative;
  z-index: 100;
  background-image: url(images/circle.png);
  background-size: cover;
  width: 8vw;
  height: 8vw;
  margin-top: -38vw;
  margin-left: 61vw;

  animation: glow_kf 20s infinite linear;
}

.glow {
  animation: glow_kf 20s infinite linear;
}

@keyframes glow_kf {
  0% {
    filter: drop-shadow(0px 0px 0.1vw rgb(0, 17, 255));
    transform: rotate(0deg);
  }
  50% {
    filter: drop-shadow(0px 0px 0.2vw rgb(0, 255, 234));
  }
  100% {
    filter: drop-shadow(0px 0px 0.3vw rgb(255, 0, 221));
    transform: rotate(360deg);
  }
}

#middleFrame {
  position: absolute;
  top: 3vw;
  left: 49vw;
  height: 7vw;
  width: 7vw;
  background-color: transparent;
}
